<ion-view view-title="About">
  <ion-content padding=true class="dark">

    <img width="50%" height="50%"  style="margin:10% 0%;" class="col col-offset-30" ng-src="/img/logo.png">

    <p>
      DexApp is an Application for Elective 2 Project First Semester 2016.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <div class="title">DexApp &copy; Elective 2 - 2016</div>
  </div>
</ion-view>
