<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close class="s-menu-i"title="home" href="#/app/dexapp">
          <i class="icon icon-large ion-home"></i><h2 class="in-b">Home</h2>
        </ion-item>

        <ion-item menu-close  class="s-menu-i"title="account" href="#/app/account" ng-click=" bookmarks(userInfos.username)">
          <i class="icon icon-large ion-android-contact"></i><h2 class="in-b">Account</h2>
        </ion-item>
           
        <ion-item menu-close class="s-menu-i"title="about" href="#/app/about">
          <i class="icon icon-large ion-information-circled"></i><h2 class="in-b">About</h2>
        </ion-item>
        
        <ion-item menu-close class="s-menu-i"title="about" ng-click="logout()">
          <i class="icon icon-large ion-power"></i><h2 class="in-b">Logout</h2>
        </ion-item>
  
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
