<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Register</h1>
    <div class="buttons">
      <button class="button button-outlined" ng-click="closeReg()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content >
    <form name="regForm" ng-submit="doRegister()">
      <div class="list">
  
           <label class="item item-input item-stacked-label">
             <span class="input-label">Username 
             <span class="user-error"ng-show="regForm.username.$error.required"> is required!.</span>

             </span>
             <input name="username"type="text" ng-model="regData.username"placeholder="Username" required> 
           </label>
  
           <label class="item item-input item-stacked-label">
             <span class="input-label">Password <span  class="user-error" ng-show="regForm.pass.$error.required">is required!.</span></span>
             <input type="password" name="pass" ng-model="regData.password" placeholder="Password" required>
           </label>
            
          <label class="item item-input item-stacked-label">
             <span class="input-label">Retype-Password   
             <span ng-if="!passwordmatch" class="user-error">Mismatch</span></span>
             <input type="password" name="repass" ng-model="regData.repassword" ng-keyup="check(regData)" placeholder="Retype-Password" required>
           </label>
          
           <label class="item item-input item-stacked-label">
             <span class="input-label">Email
              <span  class="user-error"ng-show="regForm.email.$error.required">is required!.</span>
              <span ng-show="!regForm.email.$error.required">
              <span class="user-error"ng-show="regForm.email.$invalid">is not valid!.</span></span>
              </span>
             <input type="email" name="email"ng-model="regData.email"placeholder="johndoe@hotmail.com" required>
           </label>
         </div>

    <div class="padding">
         
         
    </div>
        <label class="item">
          <button ng-disabled=""class="button button-block button-positive button-outline" type="submit">Register</button>
        </label>
      </div>
    </form>
  </ion-content>

</ion-modal-view>
